<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20151031.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E84CE281BE497AC00D02BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E84CE3F1BE497AD00D02BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E84CE4A1BE497AD00D02BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
